<section class="categories">
    <h2>{{'LABEL.CATEGORIES' | translate}}</h2>
    <div class="flex-container">
        <div class="cat-section">
            <span>{{ 'LABEL.EXPENSES' | translate}}</span>
            <div class="category" *ngFor="let expCat of expCategoryValuePairs">
                <img src="" alt="" />
                <span>{{expCat[0]}}</span>
                <span>{{expCat[1] | formatMoney}}</span>
                <button class="btn btn-remove" (click)="onRemove(expCat[0],'expense')">X</button>
            </div>
            <div class="add-box">
                <input #expInput type="text" [hidden]="!expInputShow">
                <div class="btn-box">
                    <button class="btn btn-add" (click)="onAdd(expInput.value, 'expense')">{{'BUTTON.ADD' | translate}}</button>
                    <button class="btn btn-finish" (click)="onFinish('expense')" [hidden]="!expBtnFinish">{{'BUTTON.END' |
                        translate}}</button>
                </div>
            </div>
        </div>
        <div class="cat-section">
            <span>{{ 'LABEL.INCOMES' | translate}}</span>
            <div class="category" *ngFor="let incCat of incCategoryValuePairs">
                <img src="" alt="" />
                <span>{{incCat[0]}}</span>
                <span>{{incCat[1] | formatMoney}}</span>
                <button class="btn btn-remove" (click)="onRemove(incCat[0],'income')">X</button>
            </div>
            <div class="add-box">
                <input #incInput type="text" [hidden]="!incInputShow">
                <div class="btn-box">
                    <button class="btn btn-add" (click)="onAdd(incInput.value,'income')">{{'BUTTON.ADD' | translate}}</button>
                    <button class="btn btn-finish" (click)="onFinish('income')" [hidden]="!incBtnFinish">{{'BUTTON.END' |
                        translate}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
