<section class="login">
    <h3>Login to ProjectX</h3>

    <form>
        <div>Log in using:</div>
        <div>
            <button>Facebook</button>
            <button>Google+</button>
        </div>
        <div>Or:</div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </div>
        <button>Login</button>
    </form>
    <div>
        <label for="create`">Create account if you dont have one.</label>
        <button name="create">Create</button>
    </div>
</section>
