<!-- firebaseUI login -->
<section class="login">
    <div class="firebase-login">
        <div id="firebaseui-auth-container"></div>
        <div id="loader">Loading...</div>
    </div>
    <div class="description">
        <h3>Welcome to ProjectX</h3>
        <p>Chekout this cool app lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>
    </div>
</section>


<!-- <section class="login">
    <h3>Login to ProjectX</h3>

    <form>
        <div>Log in using:</div>
        <div>
            <button>Facebook</button>
            <button>Google+</button>
        </div>
        <div>Or:</div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </div>
        <button>Login</button>
    </form>
    <div>
        <label for="create`">Create account if you dont have one.</label>
        <button name="create">Create</button>
    </div>
</section> -->
