<div class="login">
    <div style="text-align: center;">
        <h3>Login to ProjectX</h3>
        <form>
            <label>Log in using:</label>
            <div>
                <button>Facebook</button>
                <button>Google+</button>
            </div>
            <label>Or:</label>
            <div style="text-align: left;">
                <label>username:</label>
                <input type="text">
            </div>
            <div style="text-align: left;">
                <label>password:</label>
                <input type="text">
            </div>
            <input type="submit" value="Login">
        </form>
        <label>Create account if you dont have one.</label>
        <div style="text-align: center;">
            <input type="button" value="Create">
        </div>
    </div>
</div>
