// VARIABLES

// COLORS
$primary-color: #262626;
$red-50: #FFEBEE;
$red-100: #FFCDD2;
$red-200: #EF9A9A;
$red-300: #E57373;
$red-400: #EF5350;
$red-500: #F44336;
$red-600: #E53935;
$red-700: #D32F2F;
$red-800: #C62828;
$red-900: #B71C1C;
$A100: #FF8A80;
$A200: #FF5252;
$A400: #FF1744;
$A700:#D50000;

// FONT SHIT
$font-slim: 300;
$font-thick: 600;
$font-fat: 900;
$font-family: Arial,
Helvetica,
sans-serif;
