<div class="main-input">
    <div class="inc-group">
        <button class="btn income-btn" (click)="onIncBtn()">{{'BUTTON.ADD_INCOME' | translate}}</button>
        <div class="income-dropdown" *ngFor="let inc of userData?.getCategoriesInc()" [hidden]="incDropIsHidden" (click)="onIncomeAddClick(inc, name.value, value.value)">{{inc}}</div>
    </div>
    <div class="input-group">
        <label for="name">Description</label>
        <input #name type="text" name="name">
        <label for="value">Value</label>
        <input #value type="text" name="value">
    </div>
    <div class="exp-group">
        <button class="btn expense-btn" (click)="onExpBtn()">{{'BUTTON.ADD_EXPENSE' | translate}}</button>
        <div class="expense-dropdown" *ngFor="let exp of userData?.getCategoriesExp()" [hidden]="expDropIsHidden" (click)="onExpenseAddClick(exp, name.value, value.value)">{{exp}}</div>
    </div>
</div>
