@import '../../../assets/scss/variables';
.main-input {
    // border-top: 2px dotted black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    height: 100%;

    .group {
        display: flex;
        flex-direction: column;
        width: 28%;
    }

    .income-dropdown {
        border: $small-border;
        margin: .2rem;
        transition: .2s all;

        &:hover {
            transform: translateY(-2px);
            box-shadow: $small-shadow;
        }

        &:active {
            transform: translateY(-1px);
            box-shadow: $smaller-shadow;
        }
    }

    .expense-dropdown {
        border: $small-border;
        margin: .2rem;
        transition: .2s all;

        &:hover {
            transform: translateY(-2px);
            box-shadow: $small-shadow;
        }

        &:active {
            transform: translateY(-1px);
            box-shadow: $smaller-shadow;
        }
    }

    button {
        margin: .7rem;
    }

    .input-btn {
        background-color: $red-50;
    }

    .input-box {
        display: flex;
        flex-direction: column;
        margin: .5rem;
    }
}
