.header {
    border: 1px solid white;

    height: 10vh;
    position: relative;
    display: flex;
    align-items: center;

    background-image: linear-gradient(to right top,
        rgba(#3a3a3a, 0.8),
        rgba(#262626, 0.9)),
        url(../../assets/images/money.jpg);
    background-position: top;

    h1 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .img-box {
        height: 10vh;

        img {
            padding: 1rem;
            width: auto;
            height: 10vh;
        }
    }

    .btn-sign-out {
        margin-left: auto;
        margin-right: 2rem;
        color: white;
        font-weight: 300;
    }

    .btn-en {
        background-image: url(../../assets/icons/Custom-Icon-Design-Flag-3-United-Kingdom-flag.ico);
        background-position: center;
        background-size: cover;
        color: transparent;
        margin: .5rem;
        margin-left: auto;
    }
    .btn-sr {
        background-image: url(../../assets/icons/Serbia-Flag-icon.png);
        background-position: center;
        background-size: cover;
        color: transparent;
        margin: .5rem;
    }
    .btn {
       
    }
}
