.balance {
    // border: 1px solid black;
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100%;

    .balance__container {
        padding: 0 15rem;
        border-radius: 5rem;
        background-image: radial-gradient(white 1%, white 22%, transparent 74%);

        .balance__text {
            font-size: 2rem;
            text-transform: uppercase;
            color: black;
        }

        .balance__value {
            font-size: 6rem;
            color: black;
            line-height: 6rem;
            letter-spacing: 0.6rem;
        }
    }
}
