<app-login class="login" *ngIf="showLogin"></app-login>
<!-- <app-setup class="setup" *ngIf="showSetup" [userData]="userData"></app-setup> -->
<main class="main" *ngIf="!showLogin && !showSetup">
    <app-categories (emitOnOpen)="catchEmit($event)" class="categories" [userData]="userData" [userExpenses]="userExpenses" [userIncomes]="userIncomes"></app-categories>
    <app-balance class="balance" [userData]="userData"></app-balance>
    <div class="total-box">
        <app-total-income class="total-income"></app-total-income>
        <app-total-expense class="total-expense"></app-total-expense>
    </div>
    <app-main-input class="main-input" [userData]="userData"></app-main-input>
    <app-statistic class="statistic" [userData]="userData" [userExpenses]="userExpenses" [userIncomes]="userIncomes"></app-statistic>
    <app-list [hidden]="!showTransactions" (emitOnClose)="catchEmit($event)" [userData]="userData" [userExpenses]="userExpenses" [userIncomes]="userIncomes"></app-list>
</main>
